@{
    ViewBag.Title = "主页";
}
@section featured {
    <section class="featured">
    </section>
}
 
<div class="top">
    <div class="top_1000">
        <div class="top_l"><a href="./images/微小信_微信接口_微信公众管理平台.htm" title="微小信">
            <img alt="微小信" src="./images/logo2.png"></a></div>
        <div class="top_r">
            <a href="./images/微小信_微信接口_微信公众管理平台.htm" target="_blank" class="now">首页</a>
            <a href="http://www.weixiaoxin.com/Help/index/" target="_blank">功能介绍</a>
            <a href="http://www.weixiaoxin.com/Help/setconfig/" target="_blank">配置接口</a>
            <a style="display: none;" href="http://www.weixiaoxin.com/Index/brand/" target="_blank">案例展示</a>
            <a href="http://www.weixiaoxin.com/WxUser/wxlist" target="_blank">管理</a>
            <a href="http://bbs.weixiaoxin.cn/" target="_blank">论坛交流</a>
            <a href="http://dh.weixiaoxin.com/" target="_blank">微信导航</a>
            <a href="@Url.Action("Login","Account")" target="_blank">登录</a>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="wrapper-header">
    <div class="wh-container">
        <div class="screens" style="left: 0%;">
            <div class="screen screen-1"></div>
            <div class="screen screen-2"></div>
            <div class="screen screen-3"></div>
        </div>
        <div class="cloud"></div>
        <div class="wang">
            <img src="./images/wan.png" width="387" height="67"></div>
        <div class="text0">
            <h1>微小信<br>
                不仅仅是接口</h1>
            <p>微小信是一个集微信公众接口、微信达人、微信资讯，旨在通过方便实用的接口帮助微信营销用户管理提高个人和团队效率的管理产品。通过"微信导航"为微信玩家们更好的找到自己喜欢的微信。</p>
        </div>
        <div class="text1">
            <h1>新版上线</h1>
            <p>提供[微信喜帖],[微信宣传页],[3G相册],[微信图片墙],[微信留言板],[自定义订单]……</p>
        </div>
        <div class="text2">
            <h1>我们能为您做什么？</h1>
            <p>提供 超强小黄鸡陪聊+40多款便民功能，微会员（SCRM），微活动 微团购+刮刮乐+优惠券+幸运大转盘的会员再营销，超炫微信3G网站，等您需要的各种微信营销模块。</p>
        </div>
        <div class="tel0">
            <img src="./images/tel.png" width="286" height="397"></div>
        <div class="tel1">
            <img src="./images/tel2.png"></div>
        <div class="tel2">
            <img src="./images/tel.png" width="286" height="397"></div>
        <div class="pages">
            <ul>
                <li class="curs"></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
</div>
<div class="main">
    <div class="nav">
        <a href="http://www.weixiaoxin.com/Help/setconfig/" class="n1">
            <p>接口配置</p>
        </a><a href="http://www.weixiaoxin.com/Help/index/" class="n2">
            <p>功能介绍</p>
        </a><a href="http://www.weixiaoxin.com/WxUser/wxlist" class="n3">
            <p>管理</p>
        </a><a href="http://dh.weixiaoxin.com/article/bangzhu-1.html" class="n4">
            <p>帮助</p>
        </a>
    </div>
    <div class="service">
        <h2>我们的服务</h2>
        <div class="service_list">
            <div class="c1">
                <a href="" target="_blank"><span class="txt">
                    <h3>大转盘</h3>
                    <p>专业 娱乐 游戏</p>
                </span><span class="btxt">嗨爆你的粉丝</span> <span class="bottom"></span></a>
            </div>
            <div class="c2">
                <a href="" target="_blank"><span class="txt">
                    <h3>模板</h3>
                    <p>更全的模板选择</p>
                </span><span class="btxt">超炫微信3G网站，精美模板任意选</span> <span class="bottom" style="height: 24px;"></span></a>
            </div>
            <div class="c3">
                <a href="" target="_blank"><span class="txt">
                    <h3>优惠券</h3>
                    <p>优惠券推广模块</p>
                </span><span class="btxt">将线下抽奖，搬到微信上</span> <span class="bottom"></span></a>
            </div>
            <div class="c4">
                <a href="" target="_blank"><span class="txt">
                    <h3>刮刮卡</h3>
                    <p>刮刮卡抽奖模块</p>
                </span><span class="btxt">嗨爆你的粉丝</span> <span class="bottom" style="height: 24px;"></span></a>
            </div>
            <div class="c5">
                <a href="" target="_blank"><span class="txt">
                    <h3>会员卡</h3>
                    <p>微信内植入会员卡</p>
                </span><span class="btxt">帮助企业建立新一代的移动会员管理系统</span> <span class="bottom" style="height: 24px;"></span></a>
            </div>
            <div class="c6">
                <a href="" target="_blank"><span class="txt">
                    <h3>一站到底</h3>
                    <p>答题绑定模式</p>
                </span><span class="btxt">微信上最火，最好玩的答题游戏</span> <span class="bottom"></span></a>
            </div>

            <div class="c7">
                <a href="" target="_blank"><span class="txt">
                    <h3>微信喜帖</h3>
                    <p>针对影楼和婚庆公司</p>
                </span><span class="btxt">让顾客成为免费品牌推广员</span> <span class="bottom"></span></a>
            </div>
            <div class="c8">
                <a href="" target="_blank"><span class="txt">
                    <h3>3G相册</h3>
                    <p>适用于图片展示</p>
                </span><span class="btxt">图片展示，给您更动态的展示</span> <span class="bottom" style="height: 24px;"></span></a>
            </div>
            <div class="c9">
                <a href="" target="_blank"><span class="txt">
                    <h3>微信图片墙</h3>
                    <p>粉丝图片互动</p>
                </span><span class="btxt">以图片形式，让用户自主的上传自己的图片</span> <span class="bottom"></span></a>
            </div>
            <div class="c10">
                <a href="" target="_blank"><span class="txt">
                    <h3>微信宣传页</h3>
                    <p>微信公众号二维码推广页</p>
                </span><span class="btxt">推广之用，可以发布到QQ群微博博客论坛等等...</span> <span class="bottom"></span></a>
            </div>
            <div class="c11">
                <a href="" target="_blank"><span class="txt">
                    <h3>微信留言板</h3>
                    <p>与粉丝留言互动</p>
                </span><span class="btxt">让您从留言中，更真切的知道用户的需求</span> <span class="bottom" style="height: 24px;"></span></a>
            </div>
            <div class="c12">
                <a href="" target="_blank"><span class="txt">
                    <h3>自定义订单</h3>
                    <p>适合各种行业预定</p>
                </span><span class="btxt">更灵活的选项，更能够适合您各种不同的订单需求</span> <span class="bottom"></span></a>
            </div>

        </div>
        <div class="clear"></div>
    </div>

</div>
<div class="foot">
    <div class="MicroFor_Top">
        <dl>
            <dt>微服务</dt>
            <dd><a target="_blank" href="./images/微小信_微信接口_微信公众管理平台.htm">微信大转盘</a></dd>
            <dd><a target="_blank" href="./images/微小信_微信接口_微信公众管理平台.htm">微信刮刮卡</a></dd>
            <dd><a target="_blank" href="./images/微小信_微信接口_微信公众管理平台.htm">微信优惠券</a></dd>
            <dd><a target="_blank" href="./images/微小信_微信接口_微信公众管理平台.htm">微信3G网站</a></dd>
            <dd><a target="_blank" href="./images/微小信_微信接口_微信公众管理平台.htm">微信喜帖</a></dd>

        </dl>
        <dl>
            <dt>更多服务</dt>
            <dd><a target="_blank" href="./images/微小信_微信接口_微信公众管理平台.htm">微信图片墙</a></dd>
            <dd><a target="_blank" href="./images/微小信_微信接口_微信公众管理平台.htm">微信一战到底</a></dd>
            <dd><a target="_blank" href="./images/微小信_微信接口_微信公众管理平台.htm">微信宣传页</a></dd>
            <dd><a target="_blank" href="./images/微小信_微信接口_微信公众管理平台.htm">微信留言板</a></dd>
            <dd><a target="_blank" href="./images/微小信_微信接口_微信公众管理平台.htm">微信自定义订单</a></dd>
        </dl>
        <dl>
            <dt>微信相关</dt>
            <dd><a target="_blank" rel="nofollow" href="http://dh.weixiaoxin.com/focus/">微信焦点新闻</a></dd>
            <dd><a target="_blank" rel="nofollow" href="http://dh.weixiaoxin.com/Tuiwei/index/">精彩微信</a></dd>
            <dd><a target="_blank" rel="nofollow" href="http://dh.weixiaoxin.com/baike/">微信百科</a></dd>
        </dl>
        <dl>
            <dt>微小信平台</dt>
            <dd><a target="_blank" href="http://dh.weixiaoxin.com/">微小信导航</a></dd>
            <dd><a target="_blank" rel="nofollow" href="http://bbs.weixiaoxin.cn/">微小信论坛</a></dd>
        </dl>
        <dl>
            <dt>微小信微信</dt>
            <dd><a target="_blank" title="" href="http://dh.weixiaoxin.com/weixiaoxin">最新收录微信</a></dd>
            <dd><a target="_blank" title="" href="http://dh.weixiaoxin.com/rank">微信排行榜</a></dd>
            <dd><a target="_blank" href="http://www.0233.com/" title="0233网址大全">0233网址大全</a></dd>
        </dl>
        <ul>
            <span>官方微信</span>
            <img style="width: 108px; height: 108px;" alt="微小信微信" src="./images/001.jpg">
        </ul>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        g1 = $(".pages > ul").find("li").index($(".curs"));
        $(".pages > ul > li").click(function () {
            $(".pages > ul > li").removeClass("curs");
            $(this).addClass("curs");
            g = $(".pages > ul").find("li").index($(".curs"));
            $(".screens").animate({ left: (parseInt(-100 * g)) + "%" }, 1000);
            var t_name = "text" + g;
            $(".text" + g1).animate({ top: 80, opacity: 'hide' }, 500);
            $(".text" + g).animate({ top: 30, opacity: 'show' }, 500);
            $(".tel" + g1).animate({ top: 100, opacity: 'hide' }, 500);
            $(".tel" + g).animate({ top: 40, opacity: 'show' }, 500);
            g1 = g;
        })
        $(".service_list > div").hover(
            function () {
                $(this).children().children(".bottom").animate({ height: '36px' }, 500)
            }, function () {
                $(this).children().children(".bottom").animate({ height: '24px' }, 500)
            })
    }
    )
</script>
<script>
    $(function () {
        $(".big_pic").hover(function () {
            $(this).children(".erwei").animate({ bottom: -60, opacity: 'show' }, 200);
        }, function () {
            $(this).children(".erwei").animate({ bottom: -50, opacity: 'hide' }, 200);
        }
        )
    })
</script>
 